body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.modal-wrapper {
	display: flex;
	width: 80vw;
	/* height: 60vh; */
	background-color: #edeef2;
	border-radius: 20px;
	box-shadow: 0 0 10px -5px #2d2d2d;
	flex-flow: column wrap;
}

.card-image {
	height: 50%;
	/* background-color: brown; */
}

.card-form {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	text-align: center;
}

.form-input {
	position: relative;
	margin: 5px auto;
}

.form-input input {
	outline: none;
	border: none;
	background-color: #bec5ce;
	color: #2d2d2d;
	font-size: 12px;
	padding: 10px 5px 10px 40px;
	box-sizing: border-box;
}

.form-input input:focus {
	background-color: #9fa8b6;
	border-bottom: 2px solid #2d2d2d;
}

.form-input i {
	color: #2d2d2d;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px;
}

.btn {
	background: #642b73;
	background: -webkit-linear-gradient(to right, #c6426e, #642b73);
	background: linear-gradient(to right, #c6426e, #642b73);
	border-radius: 20px;
	text-align: center;
	padding: 10px 30px;
	box-sizing: border-box;
	display: inline-block;
}

.btn button {
	outline: none;
	border: none;
	font-size: 14px;
	background: transparent;
	color: white;
	padding: 0;
}

.btn i {
	position: relative;
	top: 0;
	left: 0;
	color: white;
	font-size: 14px;
}
